<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registro de Noticias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>

    <div th:replace="fragments/header :: navbar"/>
    </div>
    <div class ="headerA">

    <div class="container-fluid m-5">

        <form class="formulario" th:action="@{/crear}" method="POST">
            <div class="form-group my-3">
                <label class="mb-2">Publicar Noticias</label>
                <input type="text" class="form-control" name="titulo" placeholder="Titulo de la Noticia">
                <input type="text" class="form-control" name="cuerpo" placeholder="Cuerpo de la Noticia">
                <input type="text" class="form-control" name="url" placeholder="Url de la Noticia">
                <input type="text" class="form-control" name="imagen" placeholder="Imagen de la Noticia">
            </div>

            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>